<!doctype html>
<html lang="en">

{% include "header.html" %}

      <div class="container-fluid mx-0">
        <div class="row text-center">
        <div class="col">
          <h2>Filters</h2>
          <form name="selectFilters" id="filters" method="post" novalidate>
            <div class="btn-group-vertical" role="group" aria-label="Vertical checkbox button group">
                <input type="checkbox" class="btn-check" name="calls" id="calls">
                <label class="btn btn-outline-secondary" for="calls">
                  <img src="static/images/calls.svg" alt="Telephone" width="25" height="25">
                  Take Calls
                </label><br>

                <input type="checkbox" class="btn-check" name="sockets" id="sockets">
                <label class="btn btn-outline-secondary" for="sockets">
                  <img src="static/images/sockets.svg" alt="Electric-socket" width="25" height="25">
                  Sockets Available
                </label><br>

                <input type="checkbox" class="btn-check" name="wifi" id="wifi">
                <label class="btn btn-outline-secondary" for="wifi">
                  <img src="static/images/wifi.svg" alt="WiFi-sign" width="25" height="25">
                  WiFi
                </label><br>

                <input type="checkbox" class="btn-check" name="toilet" id="toilet">
                <label class="btn btn-outline-secondary" for="toilet">
                  <img src="static/images/toilet.svg" alt="WC" width="25" height="25">
                  Toilets
                </label><br>

                <input type="checkbox" class="btn-check" name="num_of_seats" id="num_of_seats" data-bs-toggle="collapse" data-bs-target="#collapseSeats" aria-expanded="false" aria-controls="collapseSeats">
                <label class="btn btn-outline-secondary" for="num_of_seats">
                  <img src="static/images/seats.svg" alt="Persons" width="25" height="25">
                  No. Of Seats
                </label>
                <div class="collapse" id="collapseSeats">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_0-10" id="seats_0-10">
                    <label class="form-check-label" for="seats_0-10">0-10</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_10-20" id="seats_10-20">
                    <label class="form-check-label" for="seats_10-20">10-20</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_20-30" id="seats_20-30">
                    <label class="form-check-label" for="seats_20-30">20-30</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_30-40" id="seats_30-40">
                    <label class="form-check-label" for="seats_30-40">30-40</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_40-50" id="seats_40-50">
                    <label class="form-check-label" for="seats_40-50">40-50</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="seats_50+" id="seats_50+">
                    <label class="form-check-label" for="seats_50+">50+</label>
                  </div>
                </div><br>

                <input type="checkbox" class="btn-check" name="coffee_price" id="coffee_price" data-bs-toggle="collapse" data-bs-target="#collapseCoffeePrice" aria-expanded="false" aria-controls="collapseCoffeePrice">
                <label class="btn btn-outline-secondary" for="coffee_price">
                  <img src="static/images/price.svg" alt="Pound-sign" width="25" height="25">
                  Coffee Price
                </label>
                <div class="collapse" id="collapseCoffeePrice">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="price-less-2" id="price-less-2" value="2.00">
                    <label class="form-check-label" for="price-less-2">less than £2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="price-less-2.50" id="price-less-2.50" value="2.50">
                    <label class="form-check-label" for="price-less-2.50">less than £2.50</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="price-more-2.50" id="price-more-2.50" value="2.51">
                    <label class="form-check-label" for="price-more-2.50">more than £2.50</label>
                  </div>
                </div><br>
                <button type="submit" class="btn btn-outline-secondary">Apply filters</button>
                <br>
              </div>
            </div>
          </form>
        <div class="col">
          <h2>Cafes</h2>
          {% for cafe in cafes %}
            <a href="{{url_for('show_details', cafe_id=cafe.id)}}" class="text-decoration-none">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ cafe.img_url }}" class="img-fluid rounded-start" alt="{{ cafe.name }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ cafe.name }}</h5>
                      <p class="card-text">{{ cafe.location }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>

        <div class="col">
          <h2>Locations</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.4914387775666!2d-0.09001612275269222!3d51.50419941093628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603d933684165%3A0xabf43ad7f4ce48c8!2sScience%20Gallery%20London!5e0!3m2!1sde!2sde!4v1699212149797!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>
      </div>
{% include "footer.html" %}